* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.blender{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 500px;
	background-image: url("../img/interruptorApagado.jpg");
	background-size:  contain;
	background-position: center;
	background-repeat:  no-repeat;
}


.blender.active{
	background-image: url("../img/interruptorEncendido.jpg");
}


.blender-button{
	margin: 0px auto 0px;
    width: 225px;
    height: 248px;
}